.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 15%;
}

.inicio_sesion h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px 550px 0px;
    margin: auto;
   text-align: center;
   margin: auto;
}

.Usuario_{
    width: 150px;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
    margin: auto;
   
}
.Contraseña_{
    width: 150px;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
    margin: auto;
}
div .center{
    text-align: center;
}

button{
    background-color:#3CB460;
    border-radius: 5%;
    color:rgb(255, 255, 255);
    width: 100px;
    height: 35px;
    margin: auto;
}