.Marco {
    border: 5px solid darkblue;
    height: 500px;
    width: 500px;
    margin: auto;
    border-radius: 15%;
    background-color:lavender;
}
 
 
.titulo h1{
    margin: auto;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
 
 
 
.C_usuario {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
    margin: auto;
   
}
 
.C_contra {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
    margin: auto;
   
}
 
input[name="Usuario"] {
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
 
input[name="Contraseña"] {
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
   
}
 
.ingreso1{
    margin-left: auto;
    margin-right: auto;
    margin: auto;
 
}
 
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
    border-radius: 20%;
}
 
img {
    filter: drop-shadow(0 0 5px blue);
}
 
 
 
div.center {
    text-align: center;
}
 
button {
   
    background-color:rgb(110, 179, 8);
    border-radius: 15%;
    color: black;
    border-color: black;
    width: 150px;
    height: 40px;    
}