.lec h1{
    position: absolute;
    right: 0;
    left: 0;
    top: 15%;
    margin: 0px 550px 0px;
}

.larga{
    position: absolute;
    left: 0;
    right: 0;
    top: 42%;
    margin: 0px 450px 0px;
    width: 1000px
}

.orden{
    position: absolute;
    left: 0;
    right: 0;
    top: 29%;
    font-size: 20px;
    margin: 0px 525px 11px;
}
.recicla{
    font-size:18px;
    margin: 150px 487px 0px;
    height: 50px;
    width: 25%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color:#3CB460;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-color: #3CB460;
    border-radius: 10px;
}

.Puntaje{
    font-size:18px;
    margin: 0px 487px 45px;
    height: 50px;
    width: 25%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color:#3CB460;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-color: #3CB460;
    border-radius: 10px;
}
.clasifi{
    font-size:18px;
    margin: 0px 485px 0px;
    height: 50px;
    width: 25%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color:#3CB460;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-color: #3CB460;
    border-radius: 10px;
}
