.title{
    display: block;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 38px;
}


body table th{
    border: black 1px solid;
    background-color: #3CB460;
}

body table td{
    border:black 1px solid;
    background-color: #3CB460;

}

.puntaje{
    position: absolute;
    left: 0;
    right: 0;
    top: 16%;
    margin: 0px 39% 0px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: black 1px solid;
}


.frase{
    position: absolute;
    left: 0;
    right: 0;
    top: 74%;
    text-align: center;
    margin: 20px 0px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
}
.Imagen{
    position:absolute;
    right: 110px;
    top: 25%;
}
.logo{
    position: absolute;
    left: 0;
    right: 0;
    top: 1%;
}