.logo{
    margin: 0px 570px 0px;
    width: 15%;
    height: 15%;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0px 575px 30px;
    font-size: 28px;

}

.Usuario_{
    font-size: 15px;
    height: 31px;
    width: 165px;
    display: block;
    margin: auto;
   
}
.Contraseña_{
    font-size: 15px;
    height: 31px;
    width: 165px;
    display: block;
    margin: auto;
}

.iniciar{
    font-size: 18px;
    margin: 0px 43% 10px;
    height: 43px;
    width: 14%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#3CB460;
    color: white;
    cursor: pointer;
    border-color: #3CB460;
    border-radius: 10px;

}
.Crear{
    margin: 0px 42% 0px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.olvidado{
    padding: 0px 43% 0px;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.crear_d{
    text-decoration: none;
    color: #3CB460;
}