.title{
    margin: 100px 110px 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    text-align: center;
}

.escan{
    font-size:18px;
    margin: 200px 487px 22px;
    height: 55px;
    width: 28%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color:#3CB460;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-color: #3CB460;
    border-radius: 10px;
    
}

.foto{
    font-size:18px;
    margin: 0px 487px 45px;
    height: 55px;
    width: 28%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color:#3CB460;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-color: #3CB460;
    border-radius: 10px;
}

.img_esc {
    margin: 0px 575px -150px;
}